@charset "UTF-8";


* {
	
	margin: 0;
	
	padding: 0;
	
	box-sizing: border-box;
	
	font-family: Verdana;
	
}

body {
	
	height: 100vh;
	
	display: flex;

	flex-direction: column;
	
	background-color: #f9f9f9;
	
    animation: background 4s ease-out forwards;

	background-image: url(../img/banner.jpg);
	
	background-size:cover;
	
	background-repeat: no-repeat;
	
}

@keyframes background {

	0% {backdrop-filter: saturate(180%) blur(0px);}
	
	100% {backdrop-filter: saturate(180%) blur(4px);}
	
}

li {
	
	list-style: none;
	
}

/*---------------------------------------------------*/ /* HEADER */

header {
	
	width: 100%;
	
}

.container {
	
	width: 100%;
	
	height: 60px;
	
	padding: 0 2rem;
	
	background-color: rgba(255 255 255 / 0.6);
	
}

.navbar {
	
	width: 100%;
	
	height: 60px;
	
	max-width: 1200px;
	
	margin: 0 auto;
	
	display: flex;
	
	align-items: center;
	
	justify-content: center;
	
}

.a {
	
	font-size: 1rem;
	
	padding: 15px;
	
	color: #000;
	
	text-decoration: none;
	
	border-radius: 6px;
	
}

.a:hover {
	
	background-color: rgba(0 0 0 / 0.2);
	
	color: darkgreen;
	
}

.navbar .links {
	
	display: flex;
	
	gap: 1.5rem;
	
}

.navbar ul {
	
	color: #fff;
	
	font-size: 1.5rem;
	
	cursor: pointer;
	
	display: none;
	
}

.title {
	
	height: calc(100vh - 60px);
	
	display: flex;
	
	align-items: center;

	justify-content: center;
	
	text-align: center;
	
	color: #fff;
	
	font-size: 3rem;
	
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	
	box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.315);
	
	animation: color 2s ease-out 1.5s forwards;
	
	opacity: 0;

}

@keyframes color {

	0% {opacity: 0;}
	
	100% {opacity: 1;}
	
}

/*---------------------------------------------------*/ /* MAIN */

main {
	
	flex-grow: 1;
	
}

.main__content {
	
	display: flex;

	flex-direction: column;

}

.main__content > div {

	width: 100%;

	padding: 40px;

}

.main__content > div:nth-child(even) {

	background-color: #f2f2f2;
	
}

#sobre {

	max-width: 800px;

	margin: 0 auto;

	padding: 40px;

	background-color: #f9f9f9;

	border-radius: 8px;
	
}

h2 {

	text-align: center;

	font-size: 24px;

	margin-bottom: 30px;

	color: #333;
	
}

p {
	
	font-size: 16px;

	line-height: 1.5;

	margin-bottom: 10px;

	color: #666;
	
}

.cursos__container {

	display: flex;

	flex-direction: column;

	align-items: center;

	justify-content: center;

	background-color: #f9f9f9;

	padding: 40px;

	text-align: center;

}

.door {

	width: 100%;

	max-width: 400px;

	height: auto;

	display: flex;

	flex-direction: column;

	align-items: center;

	margin-bottom: 40px;

}

.door i {

	font-size: 24px;

	margin-right: 10px;

}

.door div span {
	
	font-size: 24px;

}

.button__container {

	display: flex;

	flex-direction: column;

	gap: 10px;

}

.button-link {

	height: 50px;

	padding: 10px 20px;

	background-color: #333;

	color: #fff;

	text-decoration: none;

	border-radius: 50px;

	display: flex;

	align-items: center;

	justify-content: center;

	transition: background-color 0.3s ease;
	
	box-shadow: 0 2px 4px rgba(0 0 0 / 0.2);
	
    transition: box-shadow 0.3s ease-in-out;

}

.button-link:first-child {
	
	margin: 15px;

}

.button-link:last-child {

	margin-top: 10px;
	
}

.button-link:hover {

	background-color: #666;
	
	box-shadow: 0 4px 8px rgba(0 0 0 / 0.4);
	
}

.video {
	
	padding: 50px;
	
	background-color: #f2f2f2;
	
}

.b__adm {

	background-color: #3CB371;

	border-radius: 6px;

	padding: 140px 30px;

	margin-top: 0px;

	margin-bottom: 40px;

	text-align: center;

	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	
}

.b__adm h2 {

	font-size: 28px;

	margin-bottom: 10px;

	color: #333;

}

.b__adm p {

	font-size: 20px;

	line-height: 1.5;

	color: #333;
	
}

.b__cc {

	background-color: #3C71B3;

	border-radius: 6px;

	padding: 140px 30px;

	margin-top: 40px;

	margin-bottom: 40px;

	text-align: center;

	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.b__cc h2 {

	font-size: 28px;

	margin-bottom: 10px;

	color: #CCCCCC;
	
}

.b__cc p {

	font-size: 18px;

	line-height: 1.5;

	color: #CCCCCC;

}


.wrapper {

	display: flex;

	justify-content: center;

	margin-top: 2px;

}

.collapsible {

	max-width: 460px;

	overflow: hidden;

	font-weight: 500;

	border-radius: 6px;

	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

	margin-bottom: 20px;

}

.collapsible input {

	display: none;

}

.collapsible label {

	position: relative;

	text-align: center;

	font-weight: 600;

	background-color: #f2f2f2;

	color: #666;

	display: block;

	margin-bottom: 4px;

	cursor: pointer;

	padding: 15px;

	border-radius: 6px;

	transition: background-color 0.3s ease;

	z-index: 1;

}

.collapsible label:hover {

	background-color: #ebebeb;

}

.collapsible__text {

	max-height: 0;

	overflow: hidden;

	border-radius: 6px;

	line-height: 1.4;

	position: relative;

	top: -100%;

	opacity: 0;

	transition: all 0.3s ease;

}

.collapsible input:checked ~ .collapsible__text { 

	max-height: 300px;

	padding: 25px 15px;

	background-color: #f9f9f9;

	opacity: 1;

	top: 0;

}

.collapsible__text p {

	margin: 0;

	padding-bottom: 10px;

}

.inscreva {
	
	display: flex;

	justify-content: center;

}

.inscreva a {

	padding: 10px 130px;

}

/*---------------------------------------------------*/ /* FOOTER */

footer {

	width: 100%;

	background-color: #333;

	color: gray;

	padding: 6px;
	
}

.footer-container {

	max-width: 1200px;

	margin: 0 auto;

	text-align: center;

}

.footer-container h1 {

	font-size: 13px;
	
}
